*
{
    margin: 0px;
    padding: 0px;
    height: 0px;
    font-family: Arial, sans-serif;
    font-size: 15px;
}

body{
    background-color: black;
}



  .paragraph::-webkit-scrollbar {
    width: 5px; 
  }
    
  .paragraph::-webkit-scrollbar-track {
    background-color: transparent; 
  }
  
  .paragraph::-webkit-scrollbar-thumb {
    background-color: white; 
    border-radius: 5px;
  }



.text  {

    border-radius: 50px 0 0 50px; /* Rounded corners on the left */

    outline: none;
  }

    button {

    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px; 

    
  
    outline: none;
    text-align: center;
  
  }
  
  /* To remove default browser styling */
  /* .text:focus {
    outline: none;
  } */




   .updatedpara{
    height: auto;
   }
   .updatedhead{
    height: auto;
   }